

<html>
<head>
    <title></title>
</head>
<body>
    <h1>Bar and Pie Charts created using the Factory Method Design Pattern</h1>
    <h2>Free version</h2>
    <img src="/home/getimagefree" />
    <h2>Paid version</h2>
    <img src="/home/getimagepaid" />
</body>
</html>
